<!DOCTYPE html>
<html lang="en-us">
  <%- include('header'); %>

<body>

  <%- include('navbar'); %>
  <div class="container text-center p-4">
    <h2>WEB 340 - EMS Project</h2>
    <%- include ('list'); %>
  </div>

  <%- include ('footer'); %>
  <%- include ('scripts'); %>

</body>

</html>
